build
dist
po/**/
tmp
.pydevproject
.project
.settings
**/**.glade.h
**/**.gladep
**/**.gladep.bak
# temporary .ui files of glade
**.ui~
MANIFEST
**.patch
gtg.prof
__pycache__
.*.sw*

# src/ usually has development version of liblarch
src/
